body{
    background-color: rgb(0, 10, 10);
}

.bg-light-dark{
    background-color: #2B3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1
}